Complete list of libraries needed to run the code -
datetime
geopandas
ipython
ipywidgets
matplotlib
numpy
os
pandas
plotly
statsmodels
warnings

By file - 

Snowman_Prediction.ipynb
os
pandas
statsmodels
warnings

GeoPandas_with_Date_Picker.ipynb
geopandas
ipython
ipywidgets
matplotlib
numpy
pandas

Seasonal_Decomp_and_Model_Dev.ipynb
pandas
plotly
statsmodels

Model_Performance.ipynb
datetime
geopandas
ipython
ipywidgets
matplotlib
numpy
pandas
